In [1]:
import pandas as pd

In [2]:
menu = pd.Series(["비빔밥", " 김치찌개" , "된장찌개"])
menu

0      비빔밥
1     김치찌개
2     된장찌개
dtype: object

In [3]:
price = pd.Series([10000,9000,8000])

In [4]:
price

0    10000
1     9000
2     8000
dtype: int64

### 데이터 프래임 만들기

In [8]:
dfs = pd.DataFrame({
    "메뉴" : menu,
    "가격" : price
})
dfs

      메뉴     가격
0    비빔밥  10000
1   김치찌개   9000
2   된장찌개   8000

In [10]:
df = pd.DataFrame({
    "메뉴": ["비빔밥" , "김치찌개" ,"된장"] ,
    "가격" : [10000,9000,8000],
    "원산지" : ["국내" , "국내" ,"국내"]
})
df

     메뉴     가격 원산지
0   비빔밥  10000  국내
1  김치찌개   9000  국내
2    된장   8000  국내

컬럼선택

In [11]:
ms = df["메뉴"]
display(ms, type(ms))