In [1]:
import pandas as pd

df = pd.DataFrame({
    "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격": [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리": [10, 110, 250, 110, 20, 210, 0],
})
# 확인: df

## csv 내보내기 : 인코딩처리 x (한글깨짐)

In [3]:
df.to_csv("cafe_index.csv")
temp = pd.read_csv("cafe_index.csv")
temp.head()

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20

인덱스 번호 제외

In [4]:
df.to_csv("cafe.csv", index=False)
df2 = pd.read_csv("cafe.csv")
df2.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

구분자(세미콜론) 지정

In [5]:
df.to_csv("cafe_semicolon.csv", sep=";", index=False)
df3 = pd.read_csv("cafe_semicolon.csv", sep=";")
df3.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

 특정 컬럼만 저장

In [6]:
df.to_csv("cafe_menu_price.csv", columns=["메뉴", "가격"], index=False)
df4 = pd.read_csv("cafe_menu_price.csv").head()
df4

      메뉴    가격
0  아메리카노  4500
1   카페라떼  5000
2   카페모카  5500
3   카푸치노  5000
4  에스프레소  4000

### 인코딩 옵션 (한글 깨짐 방지)

In [7]:
df.to_csv("cafe_utf8.csv", index=False, encoding="utf-8-sig")
# 윈도우 환경에서 한글을 Excel로 열 경우 utf-8-sig 권장

##  Excel 파일 저장/불러오기

In [ ]:
# 이거 주피터에서 파일 저장 불가능 함??

In [8]:
df.to_excel("cafe.xlsx", index=False, sheet_name="메뉴판")

In [9]:
df_xls = pd.read_excel("cafe.xlsx", sheet_name="메뉴판")
df_xls.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

##  JSON 파일 저장/불러오기

In [12]:
df.to_json("cafe.json", orient="records", force_ascii=False)
# recods : 배열오브젝트
# 아스키코드 저장

In [13]:
df_json = pd.read_json("cafe.json")
df_json.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

## Pickle 파일 (Pandas 전용 포맷)

여기서만 (dataframe으로 처리해야) 확인 가능

In [14]:
df.to_pickle("cafe.pkl")

In [15]:
df_pkl = pd.read_pickle("cafe.pkl")
df_pkl.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

# 문제 풀기

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame({
    "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격": [4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리": [10, 110, 250, 110, 20, 210, 0],
})
df

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [18]:
df.to_csv("cafe_basic.csv")

In [20]:
df_basic = pd.read_csv("cafe_basic.csv")
df_basic

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20
5           5    밀크티  5900  210
6           6     녹차  5300    0

In [23]:
df.to_csv("cafe_no_index.csv" , index= False)
df_no_index = pd.read_csv("cafe_no_index.csv")

In [24]:
df_no_index

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [27]:
df.to_csv("cafe_menu_price.csv" , columns = ["메뉴" , "가격"],index= False)

In [28]:
df.to_csv("cafe_sc.csv" , sep = ";")

In [29]:
df_sc = pd.read_csv("cafe_sc.csv",sep=";")

In [30]:
df_sc

   Unnamed: 0     메뉴    가격  칼로리
0           0  아메리카노  4500   10
1           1   카페라떼  5000  110
2           2   카페모카  5500  250
3           3   카푸치노  5000  110
4           4  에스프레소  4000   20
5           5    밀크티  5900  210
6           6     녹차  5300    0

In [33]:
df.to_csv("cafe_utf8.csv", index=False, encoding="utf-8-sig")

In [34]:
df.to_csv("cafe2_utf8.csv" , encoding="utf-8-sig")

In [38]:
df.to_csv("cafe_noheader.csv" , index = False , header = False)

In [41]:
df_noheader= pd.read_csv("cafe_noheader.csv" , header=None)

In [42]:
df_noheader

       0     1    2
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [44]:
df_named = pd.read_csv("cafe_noheader.csv" , names= ['메뉴','가격', '칼로리'])

In [45]:
df_named

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [46]:
df_named = pd.read_csv("cafe_noheader.csv" ,header=None, names= ['메뉴','가격', '칼로리'])

In [47]:
df_named

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0

In [50]:
df_idx = pd.read_csv("cafe.csv",index_col="메뉴")

In [51]:
df_idx

         가격  칼로리
메뉴
아메리카노  4500   10
카페라떼   5000  110
카페모카   5500  250
카푸치노   5000  110
에스프레소  4000   20
밀크티    5900  210
녹차     5300    0

In [52]:
df.to_excel("cafe_book.xlsx", sheet_name="메뉴판")

In [54]:
df.to_json("cafe.json", orient="records", force_ascii=False)

 ## 문제 9,10,11,13

In [1]:
import pandas as pd

df = pd.DataFrame({
    "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격": ["4500","NA", "5500", "5000", "-", "5900", "-"],
    "칼로리": [10, 110, 250, 110, 20, 210, 0],
})
# 확인: df

In [57]:
df.to_csv("cafe_basic.csv", index=False)
df_basic = pd.read_csv("cafe_no_index.csv")

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      object
 2   칼로리     7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

9 자료형 지정하여 읽기

자료형 파트 부분

In [60]:
df["가격"] = df["가격"].astype("int64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes

10 결측치 기호 지정

In [4]:
# df.to_csv("cafe_test.csv")
cafe_test_df = pd.read_csv("cafe_test.csv",na_values=["NA", "-"])
cafe_test_df

   Unnamed: 0     메뉴      가격  칼로리
0           0  아메리카노  4500.0   10
1           1   카페라떼     NaN  110
2           2   카페모카  5500.0  250
3           3   카푸치노  5000.0  110
4           4  에스프레소     NaN   20
5           5    밀크티  5900.0  210
6           6     녹차     NaN    0

11 csv 압축 저장/ 불러오기

13 Excel 다중 시트 저장