# 2. 라이브러리 가져오기

In [3]:
import pandas as pd

train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

In [4]:
# test


# 3. EDA

In [2]:
train.head()
train.tail()
train.sample(5)

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,...,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
6424,55.0,15.0,10.0,28.266779,173.0,Yes,71.327411,268.332833,1,Bad,...,36.0,16708.070,6.0,9.0,22.0,8.0,1359.339167,8.47,2674.89,76.273673
835,1.0,6.0,0.0,31.872367,226.0,No,36.462136,351.470198,3,Good,...,37.0,17559.880,2.0,7.0,5.0,0.0,1179.323333,7.02,23.70,0.000000
6425,14.0,18.0,2.0,36.621015,239.0,Yes,18.641600,303.655690,2,Standard,...,40.0,13999.185,8.0,5.0,6.0,1.0,932.598750,3.55,16.30,10.962585
8042,3.0,0.0,3.0,21.542892,191.0,No,1255.899302,819.979411,3,Good,...,41.0,130125.040,5.0,2.0,11.0,2.0,10871.753333,3.82,1195.05,204.285650
9180,14.0,6.0,2.0,34.270117,217.0,No,179.103006,347.512214,2,Good,...,18.0,33349.630,4.0,1.0,3.0,2.0,2925.135833,1.59,248.58,45.898364

In [3]:
train.shape, test.shape

((10000, 21), (10000, 20))

In [4]:
train[['Credit_Score']].value_counts()  #Y값 확인

Credit_Score
2               5237
1               2978
3               1785
Name: count, dtype: int64

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  object
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Score              10000 non-null  int64
 9   Credit_Mix                10000 non-null  object
 10  Payment_Behaviour         10000 non-null  object
 11  Age                       10000 non-null  float64
 12  Annual_Income             10000 non-null  float64
 13  Num_Bank_Accounts         10000 non-null  float64
 14  Num_Credit_Card           10000 non-null  float64
 15  Interest_Rate             10000 non-null  float64
 16  Num_of_Loan               10000 non-null  float64
 17  Monthly_Inhand_Salary     10000 non-null  float64
 18  Changed_Credit_Limit      10000 non-null  float64
 19  Outstanding_Debt          10000 non-null  float64
 20  Total_EMI_per_month       10000 non-null  float64
dtypes: float64(17), int64(1), object(3)
memory usage: 1.6+ MB

In [18]:
# test.info()

In [17]:
test.describe()

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Amount_invested_monthly,Monthly_Balance,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,21.097900,13.255200,5.752500,32.186729,221.825800,193.117531,400.580605,33.482000,50108.745203,5.340400,5.528100,14.472300,3.544600,4166.494700,10.416235,1416.394165,103.957612
std,14.797811,6.251238,3.865998,5.159005,99.213024,195.419810,212.389930,10.739097,38406.986599,2.586039,2.090609,8.773878,2.426891,3194.843717,6.521728,1148.313667,121.991063
min,0.000000,0.000000,0.000000,20.172942,2.000000,0.000000,1.222495,14.000000,7006.035000,0.000000,0.000000,1.000000,0.000000,303.645417,0.500000,0.340000,0.000000
25%,10.000000,9.000000,3.000000,27.894659,145.000000,72.723155,270.578579,25.000000,19214.681250,3.000000,4.000000,7.000000,2.000000,1616.490417,5.407500,560.410000,29.240525
50%,18.000000,14.000000,5.000000,32.166358,220.000000,128.333887,336.320248,33.000000,36475.525000,5.000000,5.000000,13.000000,3.000000,3052.810833,9.340000,1159.810000,65.377135
75%,28.000000,18.000000,8.000000,36.504712,304.000000,234.830616,465.525296,42.000000,71025.400000,7.000000,7.000000,20.000000,5.000000,5913.288333,14.832500,1941.615000,142.311157
max,67.000000,28.000000,29.000000,50.000000,404.000000,1804.355694,1533.102266,56.000000,179987.280000,10.000000,11.000000,34.000000,9.000000,15204.633333,29.970000,4997.050000,1701.955013

test.describe(include='O')

In [5]:
train.isnull().sum().sum()

0

In [6]:
test.isnull().sum().sum()

0

# 4. 전처리

In [4]:
#라벨(정답, y값 분리)
y_train = train.pop("Credit_Score")

In [5]:
y_train.value_counts()

Credit_Score
2    5237
1    2978
3    1785
Name: count, dtype: int64

##  레이블 인코딩

In [1]:
# from sklearn.preprocessing import LabelEncoder
# cols = train.columns[train.dtypes == object]
# cols

In [2]:
# for col in cols:
#     le = LabelEncoder()
#     le.fit(pd.concat([train[col],test[col]],axis=0))# 행 합치기 train,test 행이 맞지 않음
#     train[col] = le.fit_transform(train[col])
#     test[col] = le.transform(test[col])

## 인코딩 대체 방법 (범주형 type -> category로 변경)
다중분류 5번 
인코딩 -> 랜덤 포레스트
카테고리 -> LGM

In [11]:
train.info()
train['Payment_of_Min_Amount'] = train['Payment_of_Min_Amount'].astype('category')
train['Credit_Mix'] = train['Credit_Mix'].astype('category')
train['Payment_Behaviour'] = train['Payment_Behaviour'].astype('category')

test['Payment_of_Min_Amount'] = test['Payment_of_Min_Amount'].astype('category')
test['Credit_Mix'] = test['Credit_Mix'].astype('category')
test['Payment_Behaviour'] = test['Payment_Behaviour'].astype('category')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Delay_from_due_date       10000 non-null  float64
 1   Num_of_Delayed_Payment    10000 non-null  float64
 2   Num_Credit_Inquiries      10000 non-null  float64
 3   Credit_Utilization_Ratio  10000 non-null  float64
 4   Credit_History_Age        10000 non-null  float64
 5   Payment_of_Min_Amount     10000 non-null  category
 6   Amount_invested_monthly   10000 non-null  float64
 7   Monthly_Balance           10000 non-null  float64
 8   Credit_Mix                10000 non-null  object
 9   Payment_Behaviour         10000 non-null  object
 10  Age                       10000 non-null  float64
 11  Annual_Income             10000 non-null  float64
 12  Num_Bank_Accounts         10000 non-null  float64
 13  Num_Credit_Card           10000 non-null  float64
 14  Interest_Rate             10000 non-null  float64
 15  Num_of_Loan               10000 non-null  float64
 16  Monthly_Inhand_Salary     10000 non-null  float64
 17  Changed_Credit_Limit      10000 non-null  float64
 18  Outstanding_Debt          10000 non-null  float64
 19  Total_EMI_per_month       10000 non-null  float64
dtypes: category(1), float64(17), object(2)
memory usage: 1.5+ MB

# 5.검증데이터 분할

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(
    train,
    y_train,
    test_size=0.2,
    random_state=0
)

In [6]:
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((8000, 20), (2000, 20), (8000,), (2000,))

# 06머신러닝학습및 평가

## 1.랜덤포레스트

In [13]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0) # 난수값 고정 in-> out 고정값
rf.fit(X_train,y_train) # 모델학습
pred_rf = rf.predict_proba(X_val)
pred_rf

ValueError: could not convert string to float: 'Yes'

## LIGHTGBM 학습

In [14]:
import lightgbm  as lgb
lgbmc = lgb.LGBMClassifier(ranbom_state=0, verbose=-1)
lgbmc.fit(X_train,y_train)
pred = lgbmc.predict(X_val) #예측 y값
pred_proba = lgbmc.predict_proba(X_val) #예측 확률값

# 평가

In [20]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

roc_auc_ovr = roc_auc_score(y_val,pred_proba,multi_class='ovr') # 예측 확률값[오답예측확률, 정답예측확률]
roc_auc_ovo = roc_auc_score(y_val,pred_proba,multi_class='ovo')
accuracy = accuracy_score(y_val,pred)    # pred 예측 y값
f1= f1_score(y_val,pred,average='macro') # pred 예측 y값

print('roc_auc_ovr : ',roc_auc_ovr)
print('roc_auc_ovo : ',roc_auc_ovo)
print('accuracy : ',accuracy)
print('f1 : ',f1)

#OvR(One-vs-Rest : 각클래스 vs 나머지->평균)
#OvO(One-vs-One) : 클래스 쌍별 AUC 평균

# 다중불류는 이진분류와 다르게 어떻게 출력할지 결정

roc_auc_ovr :  0.8507625027884959
roc_auc_ovo :  0.8575703288828868
accuracy :  0.6985
f1 :  0.6777379561595467

# 07예측파일만들기
csv제출

In [12]:
pred_submit=lgbmc.predict(test)
pred_submit

array([3, 1, 1, ..., 1, 1, 2])

In [13]:
submit_csv=pd.DataFrame({'pred' : pred_submit})
submit_csv.to_csv("reuslt.csv",index=False)