## 문제 정의

주어진 제품 및 매장 특성들을(X값, 컬럼) 기반으로 판매금액(Item_Outlet_Sales)을 예측하기

## 라이브러리 데이터 불러오기

In [1]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
# train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/train.csv")
# test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/test.csv")

## 탐색적 데이터 분석(EDA)

In [17]:
# train.head()
# train.tail()
# train.sample(5)

In [18]:
train.shape , test.shape
# 8:1 , 9:1 정도 비율이 좋음

((6818, 12), (1705, 11))

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                5656 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                4878 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
 11  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1404 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1235 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [21]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,5656.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.872703,0.066121,140.419533,1997.885890,2190.941459
std,4.651034,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026914,93.610050,1987.000000,836.577700
50%,12.600000,0.053799,142.448300,1999.000000,1806.648300
75%,17.000000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [22]:
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  1404.000000      1705.000000  1705.000000                1705.000000
mean     12.796984         0.066174   143.285107                1997.615836
std       4.613957         0.052465    63.063146                   8.497423
min       4.555000         0.000000    31.955800                1985.000000
25%       8.710000         0.027571    94.743600                1987.000000
50%      12.600000         0.054234   144.512800                1999.000000
75%      16.700000         0.092927   187.755600                2004.000000
max      21.350000         0.311090   266.888400                2009.000000

In [ ]:
# 결측치 존재 확인 , 50% or mean(평균값)으로 채우기

In [23]:
# 최빈값 확인 
train.describe(include='O')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,6818,6818,6818,6818,4878,6818,6818
unique,1554,5,16,10,3,3,4
top,FDW26,Low Fat,Snack Foods,OUT046,Medium,Tier 3,Supermarket Type1
freq,9,4092,963,763,2228,2664,4474

In [26]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1162
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1940
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [27]:
test.isnull().sum()

Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [29]:
train.isnull().sum().sum()
test.isnull().sum().sum()

771

## 데이터 전처리

In [2]:
# # y값 분할
target = train.pop('Item_Outlet_Sales')
target

0        639.1680
1        990.7104
2       2799.6890
3       1176.4686
4       3418.8830
          ...
6813    3615.2940
6814     923.4646
6815    2530.7058
6816     818.9340
6817    1973.4312
Name: Item_Outlet_Sales, Length: 6818, dtype: float64

In [3]:
# 결측값 채우기(무게 : 최소값, 사이즈 : 최빈값)
train['Item_Weight'] = train['Item_Weight'].fillna(train['Item_Weight'].min())
train['Outlet_Size'] = train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0])
# train.describe(include='O')
test['Item_Weight'] = test['Item_Weight'].fillna(test['Item_Weight'].min())
test['Outlet_Size'] = test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1705 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1705 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [ ]:
# 이상치 생략

In [ ]:
# 레이블 인코딩

In [5]:
from sklearn.preprocessing import LabelEncoder
cols = train.columns[train.dtypes == object] # 범주형 칼럼 목록 지정
for col in cols:
    le = LabelEncoder()
    le.fit(pd.concat([train[col],test[col]],axis=0))# 행 합치기 train,test 행이 맞지 않음
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

test

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDO38,17.250,1,0.073251,3,76.4986,2,2007,1,1,1
1,FDO32,6.360,1,0.120544,6,45.8060,8,1997,2,0,1
2,FDT14,10.695,2,0.128247,4,121.8440,3,2009,1,2,2
3,FDG50,7.405,1,0.015296,3,89.7146,9,1999,1,0,1
4,FDR11,10.500,2,0.142760,1,159.3578,9,1999,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1700,NCU18,4.555,1,0.097769,9,142.4496,4,1985,2,0,0
1701,FDY02,4.555,2,0.153457,4,264.0910,4,1985,2,0,0
1702,FDI09,20.750,2,0.129864,12,240.1880,3,2009,1,2,2
1703,DRH23,14.650,1,0.171282,7,54.0614,2,2007,1,1,1
1704,NCB18,19.600,1,0.041291,9,86.9514,8,1997,2,0,1

In [ ]:
#컬럼제거

In [6]:
train.drop('Item_Identifier',axis=1,inplace=True)
test.drop('Item_Identifier',axis=1,inplace=True)

In [43]:
train

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,12.500,1,0.006760,9,42.8112,1,1987,0,2,1
1,12.600,1,0.048741,1,60.4194,1,1987,0,2,1
2,12.800,1,0.075997,6,97.1410,1,1987,0,2,1
3,6.635,2,0.046351,5,37.4506,2,2007,1,1,1
4,13.500,2,0.125170,13,261.4910,1,1987,0,2,1
...,...,...,...,...,...,...,...,...,...,...
6813,17.750,1,0.097863,8,239.3196,9,1999,1,0,1
6814,13.000,1,0.035252,9,48.0034,3,2009,1,2,2
6815,4.785,1,0.092576,1,121.0098,6,2004,2,1,1
6816,6.980,1,0.041189,3,82.8934,7,2002,1,1,1
6817,4.555,1,0.015360,9,163.7526,5,1985,1,2,3

## 검증데이터 분할 trian. - val (8,2)

In [7]:
from sklearn.model_selection import train_test_split

X_train,X_val,y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state = 0
)
X_train.shape,X_val.shape,y_train.shape, y_val.shape

((5454, 10), (1364, 10), (5454,), (1364,))

## 머신러닝학습 및 평가 (MSE , MAE , R2..)

In [8]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression() #모델가져오기
lr.fit(X_train , y_train) #학습
y_pred = lr.predict(X_val) # 예측
y_pred

array([3006.53001011, 1386.35244112, 1610.9644381 , ..., 2265.01933974,
       4071.18108208, 3489.44301098])

In [15]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import root_mean_squared_error

In [66]:
#평가
# from sklearn.metrics  import mean_squred_error #MSE (평균 제곱 오차)
# from sklearn.metrics  import mean_absolute_error #MAE (쳥균 절대 오차)
# from sklearn.metrics  import root_mean_squared_error #RMSE (제곱 평균 오차 루트)
# from sklearn.metrics  import r2_score #R2Score (결정계수)

lr_mse = mean_squared_error(y_val , y_pred)
lr_mae = mean_absolute_error(y_val , y_pred)
lr_rmse = root_mean_squared_error(y_val, y_pred)
lr_r2 = r2_score(y_val,y_pred)

print("MSE : ",lr_mse ) #오차를 제곱해 쳥균을 낸 값 - 값이 클수록 예측이 실제와 다름
print("MAE : ",lr_mae ) #오차를 젤대값으로 계산- 값이 클수록 예측이 실제와 다름
print("RMSE : ",lr_rmse)
print("R2 : ",lr_r2)

#MSE / MAE / RMCS 상대적인 기분
#평균적으로 Y값의 10%이하 :준수한 성능
# 평균적으로 Y값의 10~30% :  보통
#Y 쳥쥰값의 30% 이상 : 낮은 모델
# ex) 시럼점수(0->100 예측) -> RMSE = 10 - 문제
#아파트 가격(30평 )

#R2
# 0.7이상 :좋은 모델
#0.5'~0,7 : 보통
#03 , 0.5 : 낮은 모델

MSE :  1111526.442702285
MAE :  732.8448115843846
RMSE :  1054.289544054329
R2 :  0.571838981005607

In [16]:
#lightGBM 학습
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train, y_train)
y_pred_2 = model.predict(X_val)

lgm_mse = mean_squared_error(y_val , y_pred_2)
lgm_mae = mean_absolute_error(y_val , y_pred_2)
lgm_rmse = root_mean_squared_error(y_val, y_pred_2)
lgm_r2 = r2_score(y_val,y_pred_2)

print("MSE : ",lgm_mse ) #오차를 제곱해 쳥균을 낸 값 - 값이 클수록 예측이 실제와 다름
print("MAE : ",lgm_mae ) #오차를 젤대값으로 계산- 값이 클수록 예측이 실제와 다름
print("RMSE : ",lgm_rmse)
print("R2 : ",lgm_r2)

MSE :  1111526.442702285
MAE :  732.8448115843846
RMSE :  1054.289544054329
R2 :  0.571838981005607

## 01_파일로 저장(생략)

In [13]:
# pred = model.predict(test)
# # pred

# submit = pd.DataFrame({'pred':pred})
# submit.to_csv("result.csv", index=False)

# 02

In [17]:
#-----------------
# 임계값 조정
#-----------------
TARGET_CORR_TH = 0.03 #상과계수 임계값

#숫자형 기준으로 상관계수 계산 # y값과의 영향 확인 
df_corr = train.copy()
df_corr['__target__'] = y_train # y_train추가
corr_with_target = df_corr.corr(numeric_only=True)['__target__'].drop('__target__')  #타겟과 나머지 상관관계 확인 + 자기 것은 제외
corr_with_target

#유지할 컬럼(=타깃과의 절대 상관이 임계값 이상인 컬럼만 추출) # y값과의 영향이 있는 것만 추출
keep_features = corr_with_target[corr_with_target.abs() >= TARGET_CORR_TH].index.tolist() # abs : 절댁값 구하기 , 0.3보다 큰컬럼들을 list로 추출
keep_features

#제거할 컬럼 추출
problem_features = corr_with_target[corr_with_target.abs() < TARGET_CORR_TH].index.tolist() 
problem_features

[]

In [10]:
# 너 지금 눈꼽이 얼마나 심각할까? ㅎㅎㅎㅎ
# 일단 확실한거 지금 내 상태가 진짜 심각하다는 것
# 집가고 싶다
# 빨리 씻고 딥슬립 하고 싶다. 던질거야!!!
# ---------------
# 컬럼제거
# ---------------

train.drop('Item_Fat_Content',axis=1,inplace = True)
train.drop('Item_Type',axis=1,inplace = True)

test.drop('Item_Fat_Content',axis=1,inplace = True)
test.drop('Item_Type',axis=1,inplace = True)

In [11]:
# ---------------
# 확인
# ---------------
train.shape , test.shape

((6818, 8), (1705, 8))

In [12]:
# 아름이 보고싶다

In [ ]:
#

In [14]:
from sklearn.model_selection import train_test_split

X_train_re,X_val_re,y_train_re, y_val_re = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state = 0
)
X_train_re.shape,X_val_re.shape,y_train_re.shape, y_val_re.shape

((5454, 8), (1364, 8), (5454,), (1364,))

In [18]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train_re, y_train_re)
y_pred_2_re = model.predict(X_val_re)

In [19]:
#성능지표 확인
lgm_mse_re = mean_squared_error(y_val_re , y_pred_2_re)
lgm_mae_re = mean_absolute_error(y_val_re , y_pred_2_re)
lgm_rmse_re = root_mean_squared_error(y_val_re, y_pred_2_re)
lgm_r2_re = r2_score(y_val_re,y_pred_2_re)

print("MSE : ",lgm_mse_re ) #오차를 제곱해 쳥균을 낸 값 - 값이 클수록 예측이 실제와 다름
print("MAE : ",lgm_mae_re ) #오차를 젤대값으로 계산- 값이 클수록 예측이 실제와 다름
print("RMSE : ",lgm_rmse_re)
print("R2 : ",lgm_r2_re)

MSE :  1108334.9408928182
MAE :  736.8110133347378
RMSE :  1052.7748766440136
R2 :  0.5730683504694064